/* gray hex color #929497 */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400|Roboto:400,900|Maven+Pro:700|Roboto+Condensed:700');

/* UNIVERSALS */
.white-text {
  color: #fff;
}

.header-text {
  font-family: 'roboto condensed', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 4em;
}

/* Navbar Section */

.navbar-brand {
  margin: 0px;
  padding: 3px 15px;
}

.white-logo {
  height: 45px;
}

.navbar {
  background-color: rgba(0, 0, 0, .3);
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #000;
  transition: .5s ease;
  background-color: rgba(200, 200, 200, .3);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #000;
  background-color: rgba(255, 255, 255, .5);
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

/* Hero Section */

.hero {
  height: 1080px;
  background-image: url('../img/pattern1.jpg');
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

.hero-text {
  margin: 0px;
  transform: translateY(50%);
  padding: 11px 0px 15px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.hero-text p {
  padding: 0px;
}

.color-logo {
  width: 450px;
  padding: 20px;
  transform: translateY(20%);
}

.icons {
  margin-top: 50px;
  border-radius: 15px;
  transform: translateY(20%);
}

.icons h1 {
  margin: 25px 0px 25px;
}

@media only screen and (max-width : 768px) {
    /* your mobile css, change this as you please */
    .icons h1 {
          padding: 50px 0px 50px;
          background-color: rgba(255, 255, 255, .3);
          border-radius: 15px;
    }
}

a:hover .col-sm-4 {
  background-color: rgba(255, 255, 255, .3);
  border-radius: 15px;
}



/* Hero Section */

#graphic-design {
  background-image: url('../img/pattern2.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

#graphic-design h1 {
  padding-top: 100px;
}

/* Content Grid Section */

.thumbnail {
  width: 228px;
  height: 331px;
  margin-top: 50px;
  color: #fff;
  padding: 0px;
  border: none;
}

.thumbnail img {
  border-radius: 5px;
}

h4, p {
  margin: 0px;
  padding: 15px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

p {
  color: #aaa;
  font-family: 'Raleway' sans-serif;
  font-weight: 300;
}

.description {
    width: 228px;
    height: 331px;
    position: absolute;
    color: #fff;
    display: none;
    border-radius: 5px;
}

a:hover .description {
  display: block;
  background-color: #000;
  transform: rotateY(90deg);
  animation: description .5s forwards;
  animation-direction: normal;
}

a:hover .preview {
  transform: rotateY(90deg);
  animation: preview .5s 1;
  animation-direction: alternate;
}

@keyframes preview {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
  }
}

@keyframes description {
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0);
  }
}

/* Web Design Section */

#web-design {
  background-image: url('../img/pattern3.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

#web-design h1 {
  padding-top: 100px;
}

/* Photography */

#photgraphy {
  background-image: url('../img/pattern4.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

#photgraphy h1 {
  padding-top: 100px;
}

/* Bio Section */

#contact {
  background-image: url('../img/pattern5.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

#contact h1 {
  padding-top: 100px;
}

.bio-bkgd {
  height: 400px;
  background-color: #000;
}

.bio p {
  color: #fff;
}
