/* gray hex color #929497 */

/* UNIVERSALS */

/* Navbar Section */

.navbar-brand {
  margin: 0px;
}

.white-logo {
  height: 50px;
}

.nav {
  margin-top: 12px;
}

.navbar {
  background-color: rgba(0, 0, 0, .3);
  border: none;
  height: 75px;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #000;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #000;
  background-color: transparent;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

/* Hero Section */

.hero {
  height: 600px;
  background-image: url('../img/gd-desk.jpg');
  background-position: bottom;
  background-size: cover;
}

.logo-bkgd {
  width: 100%;
  height: 200px;
  background-color: rgba(255, 255, 255, .7);
  transform: translateY(112%);
  margin: 0px;
  border-radius: 15px;
}

.color-logo {
  width: 350px;
  padding: 20px;
}

/* Category Buttons Section */

.link-button {
  padding:0px;
  border-radius: 10px;
  margin-top: 50px;
  background-position: center;
  background-size: cover;
}

.link-button>h2 {
  height: 100px;
  width: 100%;
  color: #fff;
  text-shadow: 1px 1px 4px #333;
  margin: 0px;
  padding-top: 33px;
}


a:hover h2 {
  background-color: rgba(255, 255, 255, .7);
  transition: .2s ease;
  border-radius: 10px;
  color: #000;
  text-shadow: none;
}

#gd-button {
  background-image: url('../img/color.jpg');
}

#web-button {
  background-image: url('../img/code.jpeg');
}

#photo-button {
  background-image: url('../img/camera.jpeg');
}

/* Bio Section */

.bio-bkgd {
  height: 400px;
  background-color: #929497;
  margin-top: 50px;
}
