/* gray hex color #929497 */

/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400|Roboto:400,900|Maven+Pro:700|Roboto+Condensed:700');

/* UNIVERSALS */
.white-text {
  color: #fff;
}

.header-text {
  font-family: 'roboto condensed', sans-serif;
  font-weight: 700;
  color: #fff;
  font-size: 4em;
}

/* Navbar Section */

.navbar-brand {
  margin: 0px;
  padding: 3px 15px;
}

.white-logo {
  height: 45px;
}

.navbar {
  background-color: rgba(0, 0, 0, .3);
  border: none;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
  font-weight: bold;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
  color: #000;
  transition: .5s ease;
  background-color: rgba(200, 200, 200, .3);
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
  color: #000;
  background-color: rgba(255, 255, 255, .5);
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

/* Hero Section */

.hero {
  height: 1080px;
  background-image: url('../img/pattern1.jpg');
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
}

@media only screen and (max-width : 768px) {
    .hero {
      height: 1080px;
      background: linear-gradient(to bottom right, #268ba7, #15b2ab, #8dd3a7);
    }
}

.hero-text {
  margin: 0px;
  transform: translateY(50%);
  padding: 11px 0px 15px;
  border-top: 2px solid #fff;
  border-bottom: 2px solid #fff;
}

.hero-text p {
  padding: 0px;
}

.color-logo {
  width: 450px;
  padding: 20px;
  transform: translateY(20%);
}

.icons {
  margin-top: 50px;
  border-radius: 15px;
  transform: translateY(5%);
}

.icons h1 {
  margin: 25px 0px 25px;
}

@media only screen and (max-width : 768px) {
    .icons h1 {
          padding: 50px 0px 50px;
          background-color: rgba(255, 255, 255, .3);
          border-radius: 15px;
    }
}

a:hover .col-sm-4 {
  background-color: rgba(255, 255, 255, .3);
  border-radius: 15px;
}

/* Button */


/* Hero Section */

#graphic-design {
  background-image: url('../img/pattern2.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

@media only screen and (max-width : 768px) {
    #graphic-design {
      height: 300px;
      background: linear-gradient(to bottom right, #3364c7, #5e93d9, #5fb3df);
    }
}

#graphic-design h1 {
  padding-top: 100px;
}

/* Content Grid Section */

.thumbnail {
  width: 250px;
  height: 350px;
  margin-top: 50px;
  color: #fff;
  padding: 0px;
  border: none;
}

.thumbnail img {
  border-radius: 5px;
  /*border: 2px solid #7bb9e2;
  box-shadow: 4px 4px #7bb9e2;*/
}

h4, p {
  margin: 0px;
  padding: 15px;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

p {
  color: #fff;
  font-family: 'Raleway' sans-serif;
  font-weight: 300;
}

.description {
    width: 250px;
    height: 350px;
    position: absolute;
    color: #fff;
    display: none;
    border-radius: 5px;
}

a:hover .description {
  display: block;
  background-color: #3d7ed0;
  transform: rotateY(90deg);
  animation: description .5s forwards;
  animation-direction: normal;
}

a:hover .preview {
  transform: rotateY(90deg);
  animation: preview .5s 1;
  animation-direction: forwards;
}

@keyframes preview {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
  }
}

@keyframes description {
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0);
  }
}

/* Modal */

.modal-header {
  color: #3d7ed0;
  cursor: pointer;
  border-bottom: none;
  padding: 0px 15px 0px 0px;
}

.modal-body {
  max-height: calc(100vh - 133px);
  overflow-y: auto;
}

.modal-body>img {
  max-height: calc(100vh - 153px);
}

.rules {
  padding: 10px 25px;
}

.rules>li {
  padding: 5px 0px;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
}

.close {
  color: #3d7ed0;
  float: right;
  font-family: Lato;
  font-size: 30px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 300;
  height: 25px;
}

.close:hover, .close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .thumbnail {
    pointer-events: none;
  }
}

/* Web Design Section */

#web-design {
  background-image: url('../img/pattern3.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

@media only screen and (max-width : 768px) {
    #web-design {
      height: 300px;
      background: linear-gradient(to bottom right, #5f74ab, #7c73bc, #a274a3);
    }
}

#web-design h1 {
  padding-top: 100px;
}

.web-content {
  height: 475px;
}

.black-card {
  filter: grayscale(100%);
  width: 250px;
  height: 350px;
}

.color-card {
    width: 250px;
    height: 350px;
    position: absolute;
    color: #fff;
    display: none;
    border-radius: 5px;
}

a:hover {
  text-decoration: none;
}

a:hover .color-card {
  display: block;
  background-color: #3d7ed0;
  transform: rotateY(90deg);
  animation: color-card .5s forwards;
  animation-direction: normal;
}

a:hover .black-card {
  transform: rotateY(90deg);
  animation: black-card .5s 1;
  animation-direction: forwards;
}

.card-name {
  display: none;
  text-decoration: none;
}

.petstore-name {
  background: linear-gradient(to bottom right, #f5854d, #f06ca7);
}

.restaurante-name {
  background-color: #f8512f;
}

.jl-name {
  background: linear-gradient(to bottom, #797300, #404041);
}

a:hover .card-name {
  display: block;
  text-decoration: none;
  transform: rotateY(90deg);
  animation: card-name .5s forwards;
  animation-direction: normal;
}

@keyframes black-card {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
  }
}

@keyframes color-card {
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0);
  }
}

@keyframes card-name {
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0);
  }
}

/* Photography */

#photography {
  background-image: url('../img/pattern4.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

@media only screen and (max-width : 768px) {
    #photography {
      height: 300px;
      background: linear-gradient(to bottom right, #b7436a, #e37d71, #ee9761);
    }
}

#photography h1 {
  padding-top: 100px;
}

/* Carousel Styles*/

.carousel {
  margin: 25px 0px;
}

.item {
  height: 535px;
  background-position: center;
  background-size: cover;
}

#main {
  background-image: url('../img/photo/4.jpg');
}

#soldiers {
  background-image: url('../img/photo/9.jpg');
}

#nature {
  background-image: url('../img/photo/1.jpg');
}

.carousel-caption {
  margin-bottom: 8%;
}

.btn-warning {
  background-color: #b53957;
  border-color: #b53957;
}

.btn-warning.active, .btn-warning.focus, .btn-warning:active, .btn-warning:focus, .btn-warning:hover, .open>.dropdown-toggle.btn-warning {
  background-color: #8e1935;
  border-color: #8e1935;
}

/* Back-to-top button*/

.in {
  margin-bottom: 75px;
}

.testlink {
  display: block;
  height: 100px;
}

.testlink>i {
  background-color: #ff9999;
  text-align: center;
}

.fa-chevron-circle-up {
  height: 70px;
  color: #ff0088;
  font-size: 50px;
  text-align: center;
  display: block;
}

.fa-chevron-circle-up:hover {
  height: 100px;
  color: #3d7ed0;
  font-size: 60px;
  text-align: center;
}

.testtext {
  display: block;
  color: #000;
  text-align: center;
}


/* Bio Section */

#contact {
  background-image: url('../img/pattern5.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

@media only screen and (max-width : 768px) {
    #contact {
      height: 300px;
      background: linear-gradient(to bottom right, #e1a223, #eece67, #e6d75a);
    }
}

#contact h1 {
  padding-top: 100px;
}

.bio-bkgd {
  height: 400px;
  margin-top: 25px;
}

.bio h2 {
  color: #e1a223;
}

.bio p {
  color: #000;
  padding: 0px;
}

/* Contact Section */

.contact-form {
  border: 2px solid #e1a223;
  margin-bottom: 25px;
  padding: 25px;
  box-shadow: 4px 4px #e1a223;
  border-radius: 10px;
}

.form-control {
  border: 1px solid #e1a223;
}

.contact-form button {
  margin-top: 15px;
  border: 1px solid #e1a223;
}

.contact-text {
  background-color: #999;
}

.message-container {
  margin: 50px 0px 25px;
  padding: 0px;
}

.contact-message {
  background-color: #e1a223;
  padding: 10px 0px;
  border-radius: 10px;
}

.contact-message>h2 {
  padding: 0px;
  margin: 20px 0px 20px;
}

.arrow {
  font-size: 30px;
}

.glyphicon {
  font-size: 85px;
  color: #e1a223;
  float: right;
}

/* Test */

.silohuette {
  height: 100%;
  filter: grayscale(100%);
  position: absolute;
}

.profile {
  height: 100%;
  position: absolute;
  color: #fff;
  display: none;
  border-radius: 5px;
}

a:hover {
  text-decoration: none;
}

a:hover .profile {
  display: block;
  background-color: #3d7ed0;
  transform: rotateY(90deg);
  animation: profile .5s forwards;
  animation-direction: normal;
}

/*a:hover .silohuette {
  transform: rotateY(90deg);
  animation: silohuette .5s 1;
  animation-direction: forwards;
}*/

a:hover .card-name {
  display: block;
  text-decoration: none;
  transform: rotateY(90deg);
  animation: card-name .5s forwards;
  animation-direction: normal;
}

@keyframes silohuette {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(90deg);
  }
}

@keyframes profile {
  50% {
    transform: rotateY(90deg);
  }
  100% {
    transform: rotateY(0);
  }
}

.silohuette-animation {
  width: 228px;
  margin: 0px;
  height: 300px;
  color: #fff;
  padding: 0px;
  border: none;
}
