.hero {
  height: 600px;
  background-image:url('../img/bkgd.jpg');
  background-position: center;
  background-size: cover;
}


.color-logo {
  width: 350px;
  padding: 20px;
  transform: translateY(100%);
  filter: drop-shadow(2px 2px 2px #555);

}
