#web-design {
  background-image: url('../img/pattern3.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 300px;
}

#web-design h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 900;
  color: #fff;
  font-size: 4em;
  text-shadow: 1px 1px 4px #333;
  letter-spacing: 2px;
  padding-top: 120px;
}
